body{
  background-color: #687A3E;
}  
  
h1{  
     text transfroms: uppercase; 
      text-allign: center;
       background-color: aquamarine;
         color:  #3F94A6;
          font-family: Arial,"arial black", "Arial Narrow", " Arial Rounded MT Bold;
  
  
  
  
  
}
ul li {
	display: inline;
	margin-left: 50px;
	display:contents;
	
}
		
a {
	padding: 40px 20px;
	text-decoration: none;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	color:black
}
p {
	font-size: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:GREY;
	text-align: center;
	text-justify: auto;
	
}
