body{
  background-color: #687A3E;
}  
  
h1{  
     text transfroms: uppercase; 
      text-allign: center;
       background-color: aquamarine;
         color:  #3F94A6;
          font-family: Arial,"arial black", "Arial Narrow", " Arial Rounded MT Bold;
  
  
  
  
  
}
